<%= form_for @booking, :remote => true do |f| %>
	<% if @booking.errors.any? %>
		<div id="error_explanation">
		  <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

		  <ul>
		  <% @booking.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		  <% end %>
		  </ul>
		</div>
	<% end %>
	
	<%= f.hidden_field :sauna_id %>	
	<%= f.hidden_field :starts_at %>
	<%= f.hidden_field :ends_at %>
	<%= f.hidden_field :is_canceled, :value => false %>	
	
	<table>
		<tr>
			<td class="left"><%= t :date %>:</td>
			<td class="right" id="booking_date"></td>
		</tr>
		<tr>
			<td class="left"><%= t :time %>:</td>
			<td class="right"id="booking_time"></td>
		</tr>			
	</table>
	
	<dl>
		<dt><label for="booking_fio"><%= t :fio %>:</dt>
		<dd>
			<%= f.text_field :fio %>
		</dd>
		<dt><label for="booking_phone_number"><%= t :phone_number %>:</dt>
		<dd>
			<%= f.text_field :phone_number %>
		</dd>
		<dt><label for="booking_email"><%= t :email %>:</dt>
		<dd>
			<%= f.text_field :email %>
		</dd>		
		<dt><label for="booking_description"><%= t :description %>:</dt>
		<dd>
			<%= f.text_area :description, :rows => 5, :cols => 24 %>
		</dd>
	</dl>	
	<%= f.submit t :next %>
	<input type="button" value="<%= t :close %>" onclick="closePopup();" />		
<% end %>
