<ul class="result-list">	
	<li class="head">
		<div class="name"><%= t :booking %></div>
		<div class="status-label"><%= t :status %></div>
	</li>	
	<% if !@bookings.empty? %>
		<%  @bookings.each do |booking| %>				
			<%= render booking %>
		<% end %>
	<% else %>
		<%= render 'shared/empty_row' %>
	<% end %>	
</ul>	
<div class="digg_pagination">
	<%= paginate @bookings, :remote => true %>
</div>	