<%= search_form_for @q, :url => admin_bookings_path, :remote => true, :html => {:method => :get, :class => "round-box filter-box"} do |f| %>
	<ul>
		<li class="expanded _expandedBox filter-section">
			<h2><%= t :main_parameters %></h2>
			<div class="main-params _expanded">
				<dl>									
					<dt class="main-params-type"><%= t :sauna %>:</dt>
					<dd class="main-params-type">
						<%= f.collection_select :sauna_id_eq, @saunas, :id, :name, :include_blank => false %>										
					</dd>
				</dl>
			</div>
			<div class="_closed"></div>
			<div class="clearing"></div>
		</li>								
		<%= f.submit " ", :class => "search-button" %>							
	</ul>
	<div class="clearing"></div>					
<% end %>

					
