<%= search_form_for @q, :url => admin_bookings_path, :remote => true, :html => {:method => :get, :class => "round-box filter-box"} do |f| %>
	<ul>
		<li class="expanded _expandedBox filter-section">
			<h2><%= t :main_parameters %></h2>
			<div class="place_param _expanded">			
				<dl>									
					<dt class="township"><%= t :sauna %>:</dt>
					<dd class="township">
						<%= f.collection_select :sauna_id_eq, @saunas, :id, :name, :include_blank => false %>										
					</dd>
					<dt></dt>
					<dd class="main-params-has-photo">
						<%= f.check_box :payment_id_present  %><label><%= t :has_payment %></label> 								
					</dd>						
				</dl>
			</div>
			<div class="_closed"></div>
			<div class="clearing"></div>
		</li>								
		<%= f.submit " ", :class => "search-button" %>							
	</ul>
	<div class="clearing"></div>					
<% end %>

					
