<li class="row"> 
	<a href="/admin/saunas/<%= sauna.id %>/edit">
		<div class="name">
			<span class="s-name"><%= sauna.name %></span>
			<div class="address">
				<%= sauna.address.description %>; 
				<%= t :short_phone_number %>: <%= sauna.phone_number1 %>				
			</div>
		</div>
		<div class="actions">			   	
			<a href="#" onclick="showCalendarPopupAdmin('#dialog-calendar', <%= sauna.id %>)"><%= create_image %></a>
			<%= link_to edit_image, edit_admin_sauna_path(sauna) %>   				
			<%= link_to delete_image, admin_sauna_path(sauna), :method => :delete, :confirm => t(:confirm_delete_sauna) %>  
		</div>
	</a>	       	 		
</li>
