<div class="main-page">
	<%= render 'globalsearch' %>	
	
	<div class="add-button-container ">		
		<%= link_to t(:add_new_sauna), new_admin_sauna_path(:user_id => @user.id), :class => "big-add-green-button" %>   
	</div>
	
	<br/>
		
	<div style="padding-top: 85px;">		
		<%= render 'results' %>		
	</div>
		
	<div id="boxes"> 			
		<%= render 'admin/bookings/popup_select_sauna_item' %>		
		<%= render 'admin/bookings/popup_calendar' %>	
		<%= render 'admin/bookings/popup_contact' %>
		<%= render 'admin/bookings/popup_confirmation' %>
		
		<!-- Do not remove div#mask, because you'll need it to fill the whole screen --> 
		<div id="mask"></div>
	</div>
	
	
</div>