<div class="main-page">
	<%= render 'shared/globalsearch' %>	
	
	<div class="mobile-ver">		
		<%= link_to t(:add_new_sauna), new_admin_sauna_path(:user_id => @user.id) %>   
	</div>
	
	<br/>
	
	<div class="admin-content">		
		<h1><%= t :saunas_list_of_user %><%= @user.name %></h1>
		<% unless @saunas.empty? %>
			<ul class="result-list">	
				<li class="head">
					<div class="name"><%= t :sauna %></div>
					<div><%= t :actions %></div>
				</li>
				<%  @saunas.each do |sauna| %>				
					<%= render sauna %>
				<% end %>		
			</ul>
		<% end %>	
		<div class="digg_pagination">
			<%= will_paginate @saunas, :container => false %>
		</div>			
	</div>
	
	
</div>

