<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Здравствуйте, <%= @booking.sauna.user.name %></h1>
    <p>
		Оставлена заявка на бронирование:<br/>
		сауна: <%= @booking.sauna.name %><br/>
		дата: <%= @booking.starts_at.strftime("%d.%m.%Y") %><br/>
		время: с <%= @booking.starts_at.strftime("%H:%M") %> по <%= @booking.ends_at.strftime("%H:%M") %><br/>
		контактное лицо: <%= @booking.fio %><br/>
		телефон: <%= @booking.phone_number %><br/>
		e-mail: <%= @booking.email %><br/>
		дополнительно: <%= @booking.description %><br/>
    </p>  
    <p>
      C уважением, Администратор.
    </p> 	
  </body>
</html>