<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Здравствуйте, <%= @booking.sauna.user.name %></h1>
    <p>
		Оставлена заявка на бронирование:
		сауна: <%= @booking.sauna.name %>
		дата: <%= @booking.starts_at %>
		время: с <%= @booking.starts_at %> по <%= @booking.ends_at %>
		контактное лицо: <%= @booking.fio %>
		телефон: <%= @booking.phone_number %>
		e-mail: <%= @booking.email %>
    </p>  
    <p>
      C уважением, Администратор.
    </p> 	
  </body>
</html>