<script src="http://api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU" type="text/javascript"></script>
<script type="text/javascript">
	ymaps.ready(init);
	function init () {	
		if (navigator.geolocation) {		
			navigator.geolocation.getCurrentPosition(
				displayPosition,
				displayError,
				{ 
					enableHighAccuracy: true, 
					timeout: 10000, 
					maximumAge: 0 
				});				
		} else {
			initMap(56.8500, 53.2166);	
			//alert("Geolocation не поддерживается данным браузером");								
		}
	}	
	function initMap(latitude, longitude){
		window.myMap = new ymaps.Map("map", {			
			center: [latitude, longitude],
			zoom: 12,
			behaviors: ['default', 'scrollZoom']
		});					
		myMap.controls.add('zoomControl', {
				left: '25',
				bottom: '80'
			}
		);		
	}	
	function displayPosition(position) {
		initMap(position.coords.latitude, position.coords.longitude);				
	}	
	function displayError(error) {
		initMap(56.8500, 53.2166);
		/*
		var errors = {
			1: 'Нет прав доступа',
			2: 'Местоположение невозможно определить',
			3: 'Таймаут соединения'
		};
		alert("Ошибка: " + errors[error.code]);
		*/
	}
</script>

<div class="map-search">
	<%= search_form_for @q, :url => "/map", :remote => true, :html => {:method => :get} do |f| %>	
		<table>
		<tr>
			<td align="right">цена до (руб./час):</td>
			<td><%= f.text_field :sauna_items_min_price_lteq, :value => '500' %></td>
		</tr>
		<tr>
			<td align="right">вместимость до (чел.):</td>
			<td><%= f.text_field :sauna_items_capacity_lteq, :value => '20' %></td>
		</tr>	
		<tr>
			<td align="center" colspan="2">
				<%= select("q", "address_city_id_eq", options_for_select(@cities_for_dropdown), { :include_blank => false }, html_options = { "style" => "width: 100%"}) %>	
			</td>			
		</tr>			
		<tr>
			<td align="center" colspan="2">
				<%= f.submit t(:search) %>	
			</td>			
		</tr>			
		</table>		
	<% end %>
</div>
<div id="map" class="results-map"></div>
