<%= search_form_for @q, :url => admin_advertisements_path, :remote => true, :html => {:method => :get, :class => "round-box filter-box"} do |f| %>
	<ul>
		<li class="expanded _expandedBox filter-section">
			<h2><%= t :main_parameters %></h2>
			<div class="place_param _expanded">			
				<dl>		
					<dt class="township"><%= t :city %>:</dt>
					<dd class="township">
						<%= select("q", "city_id_eq", options_for_select(@cities_for_dropdown), { :include_blank => false }) %>						
					</dd>							
				</dl>
			</div>
			<div class="_closed"></div>
			<div class="clearing"></div>
		</li>								
		<%= f.submit " ", :class => "search-button" %>							
	</ul>
	<div class="clearing"></div>					
<% end %>