<%= render 'shared/error_messages', :object => f.object %>
<dl>
	<%= f.fields_for :sauna_photos do |sf| %>
		<%= render 'shared/error_messages', :object => sf.object %>	
		<% if sf.object.new_record? %>
			<dt><label for="sauna_sauna_photos_attributes_0_photo"><%= t :photo %>:</label></dt>
			<dd>
				<%= sf.file_field :photo %>		
			</dd>	
			<dt><label for="sauna_sauna_photos_attributes_0_photo"><%= t :description %>:</label></dt>
			<dd>
				<%= sf.text_field :description %>		
			</dd>				
		<% end %>  			
	<% end %>  
	
	<dt></dt>
	<dd>
		<%= f.submit t :save %>
	</dd>
</dl>