<input type="hidden" id="popup_height" value="230" />
<div class="error"></div>	
<%= form_for @booking, :remote => true do |f| %>
	<% if @booking.errors.any? %>
		<div id="error_explanation">
		  <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

		  <ul>
		  <% @booking.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		  <% end %>
		  </ul>
		</div>
	<% end %>
	
	<%= f.hidden_field :sauna_item_id %>
	<%= f.hidden_field :starts_at %>
	<%= f.hidden_field :ends_at %>
	<%= f.hidden_field :is_canceled, :value => false %>

	<table>
		<tr>
			<td class="left"><%= t :date %>:</td>
			<td class="right" id="booking_date"></td>
		</tr>
		<tr>
			<td class="left"><%= t :time %>:</td>
			<td class="right"id="booking_time"></td>
		</tr>			
	</table>
		
	<dl>
		<dt><label for="booking_fio"><%= t :fio %>:</dt>
		<dd>
			<%= f.text_field :fio %>
		</dd>
		<dt><label for="phone_number"><%= t :phone_number %>:</dt>
		<dd>
			<input type="text" id="phone_number"  value="+7-___-___-____" />
			<%= f.hidden_field :phone_number %>
		</dd>
		<dt><label for="booking_email"><%= t :email %>:</dt>
		<dd>
			<%= f.text_field :email %>
		</dd>		
		<dt><label for="booking_description"><%= t :description %>:</dt>
		<dd>
			<%-#= f.text_area :description, :rows => 5, :cols => 24 %>
			<%= f.text_field :description, :rows => 5, :cols => 5 %>
		</dd>	
		<dt><label for="provider_type"><%= t :payment_provider %>:</dt>
		<dd>
			<select id="provider_type" name="provider_type">
				<option value="1">Robokassa</option>
				<option value="2">Webmoney</option>
			</select>
		</dd>			
	</dl>		
	<input type="submit" value="<%= t :next %>" name="commit" onclick="checkBeforeSubmit('#phone_number');">
	<input type="button" value="<%= t :close %>" onclick="closePopup();" />			
<% end %>

<script type="text/javascript">
	$(document).ready(function(){
		addPhoneNumberValidator("#phone_number", "#booking_phone_number")
	});
</script>

