<% if signed_in? && current_user.admin? && current_user.id != @user.id %> 	  
	<%= link_to t(:users_list), users_path %> \ <%=  @user.name %> 
<% end %>

<br/>
<%= t :edit_user %>

<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.label t :user_name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label t :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label t :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label t :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit t(:save) %>
  </div>
<% end %>