<li class="row" id="sauna_item-<%= sauna_item.id %>"> 
	<a href="#">
		<div class="name">
			<span class="s-name"><%= sauna_item.name %></span>
			<div class="address">
				<%= truncate("#{sauna_item.description}", :length => 50) %>				
			</div>
		</div>
		<div class="actions">			   	
			<%= link_to edit_image, edit_admin_sauna_item_path(sauna_item) %>   			
			<%= link_to delete_image, admin_sauna_item_path(sauna_item), :method => :delete, :remote => true, :confirm => t(:confirm_delete_sauna_item) %>  		
		</div>
	</a>	       	 		
</li>
