<table class="search-form">	
	<%= render 'title' %>
	<% @saunas.each do |sauna| %>
	<tr>
		<td align="left"  class="<%= cycle('even', 'odd') -%>">
			<%= link_to sauna.name, sauna %>,  <%=  t :short_phone_number %>:<a href="tel:<%= sauna.phone_number1 %>"><%= sauna.phone_number1 %></a>
		</td>
	</tr>
	<% end %>						
</table>