<%= render 'shared/error_messages', :object => f.object %>
<dl>
	<dt><label for="site_setting_phone_number"><%= t :phone_number %>:</dt>	
	<dd>
		<%= f.text_field :phone_number %>
	</dd>	
	<dt><label for="site_setting_email"><%= t :email %>:</dt>
	<dd>
		<%= f.text_field :email %>
	</dd>	
	<dt><label for="site_setting_booking_fee"><%= t :booking_fee %>:</dt>
	<dd>
		<%= f.text_field :booking_fee %>
	</dd>	
	<dt><label for="site_setting_commission_fee"><%= t :commission_fee %>:</label></dt>
	<dd>
		<%= f.text_field :commission_fee %>			
	</dd>	
	<dt></dt>
	<dd>
		<%= f.submit t :save %>
	</dd>
</dl>