<% if signed_in? && (current_user.admin? || current_user.super_admin?)&& current_user.id != @user.id %> 	  
	<%= link_to t(:users_list), admin_users_path %> \ <%=  @user.name %> 
<% end %>

<br/><br/>

<div class="main-page">
	<div class="round-box">
		<div class="round-sub-box">			
			<h2><%= t :edit_user %></h2>
			<div class="_expanded">
			
				<%= form_for(@user, :url => admin_user_path(@user)) do |f| %>
					<%= render 'form', :f => f %>
				<% end %>

			</div>
			<div class="_closed"></div>
			<div class="clearing"></div>			
		</div>
	</div>
</div>