<div class="main-page">
	
	<div class="add-button-container">		
		<%= link_to t(:add_new_sauna), new_admin_sauna_path(:user_id => @user.id), :class => "big-add-green-button" %>    
	</div>

	<div style="padding-top: 85px;">					
		<ul class="result-list">	
			<li class="head">
				<div class="name"><%= t :sauna %></div>
				<div><%= t :actions %></div>
			</li>	
			<% if !@saunas.empty? %>
				<%  @saunas.each do |sauna| %>				
					<%= render sauna %>
				<% end %>
			<% else %>
				<%= render 'shared/empty_row' %>
			<% end %>					
		</ul>		
		<div class="digg_pagination">
			<%= paginate @saunas, :remote => false %>
		</div>		
	</div>
	
</div>


<div id="boxes"> 			
	<%= render 'admin/bookings/popup_select_sauna_item' %>		
	<%= render 'admin/bookings/popup_calendar' %>	
	<%= render 'admin/bookings/popup_contact' %>
	<%= render 'admin/bookings/popup_confirmation' %>	
	
	<!-- Do not remove div#mask, because you'll need it to fill the whole screen --> 
	<div id="mask"></div>
</div>
