<div class="main-page">
	<% if current_user.super_admin? %>   
		<%= render 'shared/navigation', :left_link => admin_users_path, :left_label => t(:users_list), :right_label => @user.name %>		
	<% end %>
	
	<%= link_to t(:add), new_admin_sauna_path(:user_id => @user.id) %>   
	
	<div>		
		<h1><%= t :saunas_list %></h1>
		<% unless @saunas.empty? %>
			<ul class="result-list">	
				<li class="head">
					<div class="name"><%= t :sauna %></div>
					<div><%= t :actions %></div>
				</li>		
				<%= render @saunas %>
			</ul>
		<% end %>	
		<div class="digg_pagination">
			<%= will_paginate @saunas, :container => false %>
		</div>		
	</div>
	
</div>

