<div class="round-sub-box sauna-short-description">
	<h1><%= @sauna.name %></h1>
	
	<% unless @sauna.sauna_items.empty? %>		
	<ul id="leftMenuDetail">
		<% for sauna_item in @sauna.sauna_items %>							
			<li class="<%= @sauna_item != nil && @sauna_item.id == sauna_item.id ? 'active' : '' %>">
				<a href="/sauna_items/<%= sauna_item.id %>">
					<%= sauna_item.name %>
				</a>
			</li>				
		<% end %>
	</ul>
	<% end %>
	
	<div class="contacts">
		<%= t :phone_number %>:
		<%  if !@sauna.phone_number1.empty? %>
			<%=  @sauna.phone_number1 %><br />
		<% end %>	
		<%  if !@sauna.phone_number2.empty? %>
			<%=  @sauna.phone_number2 %><br />
		<% end %>	
		<%  if !@sauna.phone_number3.empty? %>
			<%=  @sauna.phone_number3 %><br />
		<% end %>			
		<%= t :address %>: <%= @sauna.address.full_description %><br />
		<% if !@sauna.email.empty? %>
			<%= t :email %>: <%= @sauna.email %>
		<% end %>		
	</div>
	
			<% if signed_in? && (current_user.tester? || current_user.super_admin?) && @sauna.is_booking? %>
				<br/>
				<input name="commit" type="submit" value="<%= t :book %>" onclick="showCalendarPopup('#dialog-calendar', <%= @sauna.id %>)">			
			<% end %>		
</div>
