<div class="round-sub-box sauna-short-description">
	<h1><%= @sauna.name %></h1>
	
	<% unless @sauna.sauna_items.empty? %>		
	<ul id="leftMenuDetail">
		<% for sauna_item in @sauna.sauna_items %>							
			<li class="<%= @sauna_item != nil && @sauna_item.id == sauna_item.id ? 'active' : '' %>">
				<a href="/sauna_items/<%= sauna_item.id %>">
					<%= sauna_item.name %>
				</a>
			</li>				
		<% end %>
	</ul>
	<% end %>
	
	<div class="contacts">
		<%= t :phone_number %>:
		<%  if @sauna.phone_number1 != nil %>
			<%=  @sauna.phone_number1 %><br />
		<% end %>	
		<%  if @sauna.phone_number2 != nil %>
			<%=  @sauna.phone_number2 %><br />
		<% end %>	
		<%  if @sauna.phone_number3 != nil %>
			<%=  @sauna.phone_number3 %><br />
		<% end %>			
		<%= t :address %>: <%= @sauna.address.full_description %><br />
		<%= t :email %>: TODO
	</div>
</div>
