<script type="text/javascript">
$(document).ready(function() {     
    $(".tablesorter").tablesorter( {sortList: [[0,0], [1,0]]} ); 
});
</script> 

<%= search_form_for @q do |f| %>
  <div class="field">
    <%= f.label t :district %><br />
    <%= f.collection_select :address_district_id_eq, District.all, :id, :name, :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label t :street %>            
    <%= f.text_field :address_street_cont %>
  </div>
  <div class="field">
    <%= f.label t :capacity %>            
    <%= f.text_field :sauna_items_capacity_gt %>
  </div>  
  <div class="field">
    <%= f.label t :price_from %>            
    <%= f.text_field :sauna_items_min_price_gt %>
    <%= f.label t :to %>            
    <%= f.text_field :sauna_items_min_price_lt %>	
  </div>
  <div class="field">    
    <%= f.check_box :sauna_items_has_kitchen_eq %><%= f.label t :has_kitchen %>                
    <%= f.check_box :sauna_items_has_restroom_eq %><%= f.label t :has_restroom %>             
    <%= f.check_box :sauna_items_has_billiards_eq %><%= f.label t :has_billiards %>               
    <%= f.check_box :sauna_items_has_audio_eq %><%= f.label t :has_audio %>           
    <%= f.check_box :sauna_items_has_video_eq %><%= f.label t :has_video %>       	
    <%= f.check_box :sauna_items_has_bar_eq %><%= f.label t :has_bar %>  
  </div>  
  <div class="field">
    <%= f.submit t :search %>
  </div>

<% end %>

<table id="myTable" class="tablesorter"> 
<thead> 
<tr> 
    <th><%= t :sauna %></th> 
    <th><%= t :price_from %></th> 
    <th><%= t :capacity %></th> 
</tr> 
</thead> 
<tbody> 
	<%= render @saunas %>
</tbody> 
</table> 


<%= will_paginate %>