<%= link_to t(:saunas_list), user_path(@sauna.user.id)  %> \ <%=  @sauna.name %> 
<br/>
<h1><%= t :edit_sauna %></h1>

<%= form_for @sauna, :html => { :multipart => true } do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <%= f.hidden_field :user_id,  :value => @user.id %>
  <div class="field">
    <%= f.label t :name %><br />
    <%= f.text_field :name %>
  </div>

  <%= f.fields_for @address do |af| %>
    <%= render 'shared/error_messages', :object => af.object %>
    <div class="field">
      <%= af.label t :city_id %><br />
      <%= af.collection_select :city_id, City.all, :id, :name, :include_blank => false %>
    </div>
    <div class="field">
      <%= af.label t :district_id %><br />
      <%= af.collection_select :district_id, District.all, :id, :name, :include_blank => false %>
    </div>
    <div class="field">
      <%= af.label t :street %><br />
      <%= af.text_field :street %>
    </div>
    <div class="field">
      <%= af.label t :building %><br />
      <%= af.text_field :building %>
    </div>
  <% end %>  
  
  <div class="field">
    <%= f.label t :phone_number %><br />
    <%= f.text_field :phone_number1 %>
  </div>  

  <%= f.fields_for :sauna_photos do |sf| %>
    <%= render 'shared/error_messages', :object => sf.object %>
	<% unless sf.object.new_record? %>
      <div class="field">      
	    <%# sf.file_field :photo %>
		                <%= link_to( image_tag(sf.object.photo.url(:thumb)), sf.object.photo.url(:original) ) %>
                      
      </div>			
    <% end %>  
	
	<% if sf.object.new_record? %>
      <div class="field">      
	    <%= sf.file_field :photo %>
      </div>			
    <% end %>  
	
  <% end %>     
  
  
  <div class="actions">
    <%= f.submit t :save %>
  </div>
<% end %> 