<div class="main-page">
	<%= render 'shared/globalsearch' %>		
	<%= render 'city' %>	
	<%= render 'searchform' %>	
	<%= render 'results' %>	
	<br/>
	<%= render 'article1' %>	
	<%= render 'article2' %>	
	<%= render 'article3' %>	
</div>
<script type="text/javascript">
	Frame.initMainPage();
	Frame.initSearchCityDistrictChain();
</script>