<a href="/all">Все сауны</a>
<%= search_form_for @q do |f| %>
	<table class="search-form">
		<th colspan="2" align="center"><%= t :search_form %></th>
		<tr>
			<td>
				<%= t :capacity_from %>
			</td>
			<td>
				<%= f.text_field :sauna_items_capacity_gteq,  :size => 4 %> <%= t(:v_chel) %>	
			</td>
		</tr>
		<tr>
			<td>
				<%= t :price_to %>
			</td>
			<td>
				<%= f.text_field :sauna_items_min_price_lteq,  :size => 4 %> <%= t(:v_rub) %>	
			</td>
		</tr>
		<tr>				
			<td >
				<%= t :address_district_id_eq %>
			</td>
			<td>
				<%= f.collection_select :address_district_id_eq, District.where("city_id = 1").order("id DESC"), :id, :name, :include_blank => false %>
			</td>				
		</tr>
		<tr>				
			<td >
				<%= t :sauna_items_has_kitchen_eq %>
			</td>
			<td>
				<%= f.check_box :sauna_items_has_kitchen_eq %>					
			</td>				
		</tr>	
		<tr>				
			<td >
				<%= t :sauna_items_has_restroom_eq %>
			</td>
			<td>
				<%= f.check_box :sauna_items_has_restroom_eq %>					
			</td>				
		</tr>	
		<tr>				
			<td >
				<%= t :sauna_items_has_billiards_eq %>
			</td>
			<td>
				<%= f.check_box :sauna_items_has_billiards_eq %>					
			</td>				
		</tr>	
		<tr>				
			<td >
				<%= t :sauna_items_has_video_eq %>
			</td>
			<td>
				<%= f.check_box :sauna_items_has_video_eq %>					
			</td>				
		</tr>	
		<tr>				
			<td >
				<%= t :sauna_items_has_audio_eq_short %>
			</td>
			<td>
				<%= f.check_box :sauna_items_has_audio_eq %>					
			</td>				
		</tr>	
		<tr>				
			<td >
				<%= t :sauna_items_has_bar_eq %>
			</td>
			<td>
				<%= f.check_box :sauna_items_has_bar_eq %>					
			</td>				
		</tr>	
		<tr>				
			<td/>
			<td>
				<%= f.submit t :search %>					
			</td>				
		</tr>			
	</table>			
<% end %>