<div class="main-page">
	<%= render 'shared/globalsearch' %>	
	<%= render 'shared/mobile' %>	
	<%= render 'searchform' %>	
	<%= render 'results' %>	
	<%= render 'article1' %>	
	<%= render 'article2' %>	
	<%= render 'article3' %>	
</div>
<script type="text/javascript">
	Frame.initMainPage();
	Frame.initSearchCityDistrictChain();
</script>