<div data-role="header">
	<h1></h1>	
	<%= link_to t(:home), "/", "data-icon" => "back", "class" => "ui-btn-left", "data-ajax" => "false" %>
	<!--
	<%= link_to t(:full_version), "/?mobile=0", "data-icon" => "gear", "class" => "ui-btn-right", "data-ajax" => "false" %>
	-->
</div>

<div data-role="content">
	<p>
		<b>
			<%= @sauna.name %>
		</b>
		<br/>
		<%= t :address %>: <%= @sauna.address.full_description %><br/>
		<%= t :phone_number %>: 
		
		<%  if !@sauna.phone_number1.empty? %>
			<a href="tel:<%= @sauna.phone_number1 %>"><%= @sauna.phone_number1 %></a>			
		<% end %>	
		<%  if !@sauna.phone_number2.empty? %>
			,<a href="tel:<%= @sauna.phone_number2 %>"><%= @sauna.phone_number2 %></a>
		<% end %>	
		<%  if !@sauna.phone_number3.empty? %>
			,<a href="tel:<%= @sauna.phone_number3 %>"><%= @sauna.phone_number3 %></a>
		<% end %>	
	</p>
	
	<% if !@sauna.sauna_photos.empty? %>
		<div data-role="collapsible" data-content-theme="c">
		   <h4><%= t :photo %></h4>
				<div class="ui-grid-b">
					<% (1..6).each do |i| %>
						<% q, r = i.divmod(3) %>
						<% if (r == 1) %>
							<div class="ui-block-a">
						<% elsif (r == 2) %>
							<div class="ui-block-b">
						<% else %>
							<div class="ui-block-c">
						<% end %>
							<% sauna_photo = @sauna.sauna_photos.at(i) %>
							<%  if sauna_photo != nil %>
								<%= image_tag sauna_photo.photo.url(:thumb), :size => "120x90" %>
							<% end %>	
							</div>					
					<% end %>		
				</div>			  
		</div>
	<% end %>	
	
    <% @sauna.sauna_items.each do |sauna_item| %>
		<div data-role="collapsible" data-content-theme="c">
		   <h4><%= sauna_item.name %></h4>
		   <p><%= sauna_item.description %></p>		   
		</div>  
    <% end %>
	
	<% if !@advertisements.empty? %>
		<%= render 'advertisement' %>		
	<% end %>			
</div>


