<% if signed_in? %>	

	<% if current_user.admin? %>
	<%= link_to t(:users_list), users_path %> \ <%= link_to @sauna.user.name, user_path(@sauna.user.id) %> \
	<% else %>
	<%= link_to t(:saunas_list), user_path(@sauna.user.id) %> \ 
	<% end %>
	<%=  @sauna.name %> 

	<% if current_user.admin? %>
		<%= render 'baseinfo' %>
	<% else %>
		<% unless @sauna.sauna_items.empty? %>						
			<%= render @sauna.sauna_items %>																	
		<% end %>		
	<% end %>
				
<% else %>	
	<div class="detail-page">
		<%= render 'navigation' %>	
		<%= render 'help' %>	
		
		<div class="round-box">
			<%= render 'baseinfo' %>
			<%= render 'fullinfo' %>
			<%-#= render 'map' %>		
			<div class="clearing"></div>
		</div>		
		
		<%-#= render 'gallery' %>
		<%= render 'comments' %>		
	</div>				
<% end %> 

<!-- We only want the thunbnails to display when javascript is disabled -->
<script type="text/javascript">
	document.write('<style>.noscript { display: none; }</style>');
</script>
<script type="text/javascript">
	Frame.initDetailPage();
</script>