<div class="detail-page">
	<%= render 'navigation' %>	
	<%= render 'help' %>	
	
	<div class="round-box">
		<%= render 'baseinfo' %>
			
		<div id="tabs">
		<%  @sauna.sauna_items.each do |sauna_item| %>			
			<%= render sauna_item %>
		<% end %>
		</div>
				
		<%-#= render 'map' %>		
		<div class="clearing"></div>
	</div>		
	
	<%-#= render 'gallery' %>
	<%= render 'comments' %>		
</div>	

<!-- We only want the thunbnails to display when javascript is disabled -->
<script type="text/javascript">
	document.write('<style>.noscript { display: none; }</style>');
</script>
<script type="text/javascript">
	Frame.initDetailPage();
</script>
<script type="text/javascript">
	$(".sauna-detail-description").hide();
	$(".sauna-detail-description:first").show();
</script>
<script type="text/javascript">
	function changeTab(id)
	{		
		$(".sauna-detail-description").hide();
		$("#"+id).show();
	}	
</script>