<%= render 'shared/social_scripts' %>

<div class="detail-page">	
	<%= render 'shared/navigation', :left_link => root_path, :left_label => t(:home), :right_label => @sauna.name %>		
	<%= render 'shared/mobile' %>	
	
	<div class="round-box">
		<%= render 'baseinfo' %>
		
		<div class="round-sub-box sauna-detail-description">	
			<% @sauna.sauna_items.each do |sauna_item| %>					
				<%= render sauna_item %>					
			<% end %>	

			<%= render 'shared/social' %>									
		</div>
				
		<%= render 'map' %>		
		<div class="clearing"></div>
	</div>		
	
	<% unless @sauna.sauna_photos.empty? %>
		<%= render 'gallery' %>		
	<% end %>	
	
	<%= render 'comments' %>		
</div>	

<div id="boxes"> 
    	    	
	<div id="dialog-calendar" class="window">
		<div id='calendar'>
		</div>	
		<br/>
		
		<div class="bottom-buttons">
			<input name="commit" type="submit" value="<%= t :next %>" onclick="showContactFormPopup('#dialog-contact')">	
			<input name="commit" type="button" value="<%= t :close %>" onclick="closePopup();">		
		</div>
	</div>		
	
	<div id="dialog-contact" class="window">			
		<%= render 'bookings/form' %>	
	</div>
		
	<div id="dialog-select-payment" class="window">		
		Заявка на бронирование была отправлена на рассмотрение владельцу. 
		Вам придет уведомление по смс и электронной почте.
		Для завершения бронирования необходимо внести предоплату.		
		<br/>
		Если вы не хотите оплачивать заявку сейчас, вы можете закрыть это окно, 
		однако в этом случае мы не гарантируем бронирование.
		<br/>		
		<%= render 'payments/form' %>	
	</div>
	
	<!-- Do not remove div#mask, because you'll need it to fill the whole screen --> 
	<div id="mask"></div>
</div>


<!-- We only want the thunbnails to display when javascript is disabled -->
<script type="text/javascript">
	document.write('<style>.noscript { display: none; }</style>');
</script>
<script type="text/javascript">
	Frame.initDetailPage();
</script>
<script type="text/javascript">
	$("#leftMenuDetail li:first").addClass("active");
	$("._saunaDetailDescriptionClosed:first").removeClass("_saunaDetailDescriptionClosed");
</script>