<div class="detail-page">
	<%= render 'navigation' %>	
	<%= render 'help' %>	
	
	<div class="round-box">
		<%= render 'baseinfo' %>
		
		<div class="round-sub-box sauna-detail-description">	
			<% @sauna.sauna_items.each do |sauna_item| %>					
				<%= render sauna_item %>					
			<% end %>	
		</div>
				
		<%= render 'map' %>		
		<div class="clearing"></div>
	</div>		
	
	<% unless @sauna.sauna_photos.empty? %>
		<%= render 'gallery' %>		
	<% end %>	
	
	<%= render 'comments' %>		
</div>	

<!-- We only want the thunbnails to display when javascript is disabled -->
<script type="text/javascript">
	document.write('<style>.noscript { display: none; }</style>');
</script>
<script type="text/javascript">
	Frame.initDetailPage();
</script>
<script type="text/javascript">
	$("#leftMenuDetail li:first").addClass("active");
	$("._saunaDetailDescriptionClosed:first").removeClass("_saunaDetailDescriptionClosed");
</script>

