<!-- Скрипты для лайков -->
	<div id="fb-root"></div>
	<script>
		(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/ru_RU/all.js#xfbml=1&appId=205779572850662";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>

	<script type="text/javascript">
		window.onload = function () {
		 VK.init({apiId: 2767504, onlyWidgets: true});
		 VK.Widgets.Like('vk_like', {width: 100, pageTitle: '', pageDescription: ''}, 0);
		}
	</script>

	<script type="text/javascript" src="https://apis.google.com/js/plusone.js">{lang: 'ru'}</script>

	<script src="http://vkontakte.ru/js/api/openapi.js" type="text/javascript" charset="windows-1251"></script>

	<script src="http://platform.twitter.com/widgets.js"></script>
<!-- Конец скриптов для лайков -->

<div class="detail-page">	
	<%= render 'shared/navigation', :left_link => root_path, :left_label => t(:home), :right_label => @sauna.name %>		
	<%= render 'shared/mobile' %>	
	
	<div class="round-box">
		<%= render 'baseinfo' %>
		
		<div class="round-sub-box sauna-detail-description">	
			<% @sauna.sauna_items.each do |sauna_item| %>					
				<%= render sauna_item %>					
			<% end %>	

			<%= render 'shared/social' %>
		</div>
				
		<%= render 'map' %>		
		<div class="clearing"></div>
	</div>		
	
	<% unless @sauna.sauna_photos.empty? %>
		<%= render 'gallery' %>		
	<% end %>	
	
	<%= render 'comments' %>		
</div>	

<!-- We only want the thunbnails to display when javascript is disabled -->
<script type="text/javascript">
	document.write('<style>.noscript { display: none; }</style>');
</script>
<script type="text/javascript">
	Frame.initDetailPage();
</script>
<script type="text/javascript">
	$("#leftMenuDetail li:first").addClass("active");
	$("._saunaDetailDescriptionClosed:first").removeClass("_saunaDetailDescriptionClosed");
</script>

