<table class="search-form">
	<th align="center"><%= t :description %></th>
	<tr>
		<td>
			<b><%= @sauna.name %></b><br/>
			<%= t :address %>: <%= @sauna.address.full_description %><br/>
			
			<%  if !@sauna.phone_number1.empty? %>
				<a href="tel:<%= @sauna.phone_number1 %>"><%= @sauna.phone_number1 %></a>			
			<% end %>	
			<%  if !@sauna.phone_number2.empty? %>
				,<a href="tel:<%= @sauna.phone_number2 %>"><%= @sauna.phone_number2 %></a>
			<% end %>	
			<%  if !@sauna.phone_number3.empty? %>
				,<a href="tel:<%= @sauna.phone_number3 %>"><%= @sauna.phone_number3 %></a>
			<% end %>	
		
		</td>
	</tr>	
    <% @sauna.sauna_items.each do |sauna_item| %>
		<tr>
			<td>
				<b><%= sauna_item.name %></b><br/>
				<%= sauna_item.description %>
			</td>
		</tr>		
    <% end %>	
</table>


