<li>
<%= sauna_item.name %>

   <% if signed_in? && current_user.owner? %>
   
    <ul id="icons" class="ui-widget ui-helper-clearfix"> 	 		   	 
		<% li_edit = "<li class='ui-state-default ui-corner-all' title='.ui-icon-wrench'><span class='ui-icon ui-icon-wrench'></span></li>" %> 	 
		<%= link_to li_edit.html_safe, edit_sauna_item_path(sauna_item) %>   
 	  	 
		<% li_delete = "<li class='ui-state-default ui-corner-all' title='.ui-icon-trash'><span class='ui-icon ui-icon-trash'></span></li>" %> 	 
		<%= link_to li_delete.html_safe, sauna_item, :method => :delete, :confirm => t(:confirm_delete_sauna_item) %>        	 
    </ul>	
  <% else  %>

<br/>             
<%= sauna_item.description %>. <%= t :sauna_type_id %>: <%= sauna_item.sauna_type.name %><br/>
<%= t :has_kitchen %>: <input type="checkbox" checked="<%= sauna_item.has_kitchen %>"/> 
<%= t :has_restroom %>: <input type="checkbox" checked="<%= sauna_item.has_restroom %>"/>
<%= t :has_billiards %>: <input type="checkbox" checked="<%= sauna_item.has_billiards %>"/>
<%= t :has_audio %>: <input type="checkbox" checked="<%= sauna_item.has_audio %>"/>
<%= t :has_video %>: <input type="checkbox" checked="<%= sauna_item.has_video %>"/>
<br/>
<%= t :min_price %>: <%= sauna_item.min_price %><br/>
<%= t :min_duration %>: <%= sauna_item.min_duration %><br/>               
  
  <% end %>

</li>
