<div class="round-sub-box sauna-detail-description" id="<%= sauna_item.id %>">
	<h2><%= sauna_item.name %></h2>
	<p>
		<%= sauna_item.description %>
	</p>					
	<div class="round-sub-sub-box sauna-inventory">
		<ul>
			<li>
				
				<div class="<%= sauna_item.has_kitchen? ? 'checked' : '' %>"><%= t :has_kitchen %></div>
				<div class="<%= sauna_item.has_bar? ? 'checked' : '' %>"><%= t :has_bar %></div>
			</li>
			<li>
				<div class="<%= sauna_item.has_restroom? ? 'checked' : '' %>"><%= t :has_restroom %></div>
				<div class="<%= sauna_item.has_billiards? ? 'checked' : '' %>"><%= t :has_billiards %></div>
			</li>
			<li>
				<div class="<%= sauna_item.has_audio? ? 'checked' : '' %>"><%= t :has_audio %></div>
				<div class="<%= sauna_item.has_video? ? 'checked' : '' %>"><%= t :has_video %></div>
			</li>
		</ul>
		<div class="clearing"></div>
	</div>

	<dl class="properties">
		<dt><%= t :sauna_type_id %>: </dt><dd><%= sauna_item.sauna_type.name %></dd>
		<dt><%= t :min_price %>: </dt><dd><%= sauna_item.min_price %></dd>
		<dt><%= t :capacity %>: </dt><dd><%= sauna_item.capacity %></dd>
	</dl>

</div>
