<div class="detail-page">
	<%= render '/saunas/navigation' %>	
	<%= render '/saunas/help' %>	
	
	<div class="round-box">
		<%= render '/saunas/baseinfo' %>
		
		<div class="round-sub-box sauna-detail-description">		
			<% @sauna.sauna_items.each do |sauna_item| %>									
				<%= render :partial => 'sauna_item',  :locals => { :sauna_item => @sauna_item } %>						
			<% end %>					
		</div>
		
		<%-#= render 'map' %>		
		<div class="clearing"></div>
	</div>		
	
	<%-#= render '/saunas/gallery' %>
	<%= render '/saunas/comments' %>		
</div>	

<!-- We only want the thunbnails to display when javascript is disabled -->
<script type="text/javascript">
	document.write('<style>.noscript { display: none; }</style>');
</script>
<script type="text/javascript">
	Frame.initDetailPage();
</script>
