<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8">
		<meta name="Document-state" content="Static" />
		<meta name="URL" content="absolute_url" />
		<meta name="Distribution" content="global" />
		<meta name="Resource-type" content="document" />
		<meta name="robots" content="all" />
		<meta name="revisit-after" content="1 days" />

		<title><%= t :title %></title>
		
		<%= csrf_meta_tag %>	
		<%= render 'layouts/javascripts' %>			
		<%= render 'layouts/stylesheets' %>		
	</head>
	<body>
		<div class="wrapper">
			<div class="content">
				<div class="content-left">
					<a class="banner" href="#">
						<%= image_tag("banner.jpg") %>
					</a>
				</div>
				<div class="content-right">					
					<%= yield %>
				</div>
				<div class="clearing"></div>
			</div>
			<%= render 'layouts/footer' %>
		</div>
	</body>
</html>