<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8">
		<meta name="Document-state" content="Static" />
		<meta name="URL" content="absolute_url" />
		<meta name="Distribution" content="global" />
		<meta name="Resource-type" content="document" />
		<meta name="robots" content="all" />
		<meta name="revisit-after" content="1 days" />
		<meta name="google-site-verification" content="q7mDR-c-V4nPNwEk4X5Vf1XqV9B3epiajBa8L7gZ6ZM" />
		<meta name='yandex-verification' content='6ca27b58987c713c' />

		<title><%= t :title %></title>
		
		<%= csrf_meta_tag %>	
		<%= render 'layouts/javascripts' %>			
		<%= render 'layouts/stylesheets' %>		
	</head>
	<body>

	<!-- Script for like. Start. -->
		<div id="fb-root"></div>
		<script>
			(function(d, s, id) {

			  var js, fjs = d.getElementsByTagName(s)[0];

			  if (d.getElementById(id)) return;

			  js = d.createElement(s); js.id = id;

			  js.src = "//connect.facebook.net/ru_RU/all.js#xfbml=1&appId=152456158162750";

			  fjs.parentNode.insertBefore(js, fjs);

			}(document, 'script', 'facebook-jssdk'));
		</script>

		<script type="text/javascript">
			window.onload = function () {
			 VK.init({apiId: 2056734, onlyWidgets: true});
			 VK.Widgets.Like('vk_like', {width: 100, pageTitle: '', pageDescription: ''}, 0);
			}
		</script>
		<script type="text/javascript" src="https://apis.google.com/js/plusone.js">{lang: 'ru'}</script>
		<script src="http://vkontakte.ru/js/api/openapi.js" type="text/javascript" charset="windows-1251"></script>
		<script src="http://platform.twitter.com/widgets.js"></script>
	<!-- Script for like. End. -->
	
		<div class="wrapper">
			<div class="content">
				<div class="content-left">
					<a class="banner" href="#">
						<%= image_tag("banner.jpg") %>
					</a>
				</div>
				<div class="content-right">					
					<% flash.each do |key, value| %>
						<div class="flash <%= key %>"><%= t(value) %></div>
					<% end %>
					<%= yield %>
				</div>
				<div class="clearing"></div>
			</div>
			<%= render 'layouts/footer' %>
		</div>
		<script type="text/javascript">
			var reformalOptions = {
				project_id: 53507,
				project_host: "go-to-sauna.reformal.ru",
				force_new_window: false,
				tab_alignment: "left",
				tab_top: "300",
				tab_bg_color: "#0080f0",
				tab_image_url: "http://tab.reformal.ru/0JLQsNGI0Lgg0L7RgtC30YvQstGLINC4INC%252F0YDQtdC00LvQvtC20LXQvdC40Y8=/FFFFFF/c931f419d308ca654c15aa9f4d2fa692"
			};
			
			(function() {
				if ('https:' == document.location.protocol) return;
				var script = document.createElement('script');
				script.type = 'text/javascript';
				script.src = 'http://media.reformal.ru/widgets/v1/reformal.js';
				document.getElementsByTagName('head')[0].appendChild(script);
			})();
		</script>		
	</body>
</html>