<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8">
		<meta name="Document-state" content="Static" />
		<meta name="URL" content="absolute_url" />
		<meta name="Distribution" content="global" />
		<meta name="Resource-type" content="document" />
		<meta name="robots" content="all" />
		<meta name="revisit-after" content="1 days" />
		<meta name="google-site-verification" content="q7mDR-c-V4nPNwEk4X5Vf1XqV9B3epiajBa8L7gZ6ZM" />
		<meta name='yandex-verification' content='6ca27b58987c713c' />

		<%= render 'shared/title' %>			
		<%= csrf_meta_tag %>	
		<%= render 'layouts/javascripts' %>			
		<%= render 'layouts/stylesheets' %>						
	</head>
	<body>
		<%= render 'shared/mobile' %>
		<%-#= render 'shared/cloud' %>		
		<div class="wrapper">
			<div class="content">
				<div class="content-left">														
					
					<!-- VK Widget -->															
					
					<div id="vk_groups"></div>
					<script type="text/javascript">
						VK.Widgets.Group("vk_groups", {mode: 0, width: "200", height: "300"}, 34545540);
					</script>			
				
					<!-- /VK Widget -->													
					
					<div style="padding-left:20px;">
					<a class="banner" href="#" target="_blank"><%= image_tag("banner.jpg") %></a>
					</div>
					
					<a class="banner" href="http://можем-всё.рф" target="_blank"><%= image_tag("banner-mogem.jpg") %></a><br/>
					<table>
					<tr>
					<td>
						<!-- webmoney attestation label#F57E7E9C-FB5A-4CCD-A52F-8653DAB57BD3 begin --> 
						<a href="https://passport.webmoney.ru/asp/certview.asp?wmid=338868942902" target=_blank>
						<img border="0" src="http://passport.webmoney.ru/images/atstimg/88x31_user/88x31_wm_v_blue_on_white_ru.png"/>
						</a>
						<!-- webmoney attestation label#F57E7E9C-FB5A-4CCD-A52F-8653DAB57BD3 end --> 						
					</td>
					<td>
						<!-- begin WebMoney Transfer : accept label -->
						<a href="http://www.megastock.ru/" target="_blank"><img src="/assets/acc_blue_on_white_ru.png" alt="www.megastock.ru" border="0"></a>
						<!-- end WebMoney Transfer : accept label -->					
					</td>
					</tr>
					<tr>
					<td>
						<!-- Yandex.Metrika informer -->
						<a href="http://metrika.yandex.ru/stat/?id=12085759&amp;from=informer"
						target="_blank" rel="nofollow"><img src="http://bs.yandex.ru/informer/12085759/3_0_20ACFFFF_008CF0FF_1_pageviews"
						style="width:88px; height:31px; border:0;" 
						alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" 
						onclick="try{Ya.Metrika.informer({i:this,id:12085759,type:0,lang:'ru'});return false}catch(e){}"/></a>
						<!-- /Yandex.Metrika informer -->
					</td>
					<td></td>
					</tr>
					</table>

					
				</div>
				<div class="content-right">																	
					<% if !request.fullpath.include?("/coupons/index") %>
						<a href="coupons/index"><%= image_tag("banner_728x90.jpg") %></a>						
					<% end %>
				
					<!--
					<% if !second_time? %>
						<%= render 'layouts/welcome' %>					
					<% end %>				
					-->
					
					<% flash.each do |key, value| %>
						<div class="flash <%= key %>"><%= t(value) %></div>
					<% end %>
					<%= yield %>
				</div>
				<div class="clearing"></div>
			</div>
			<%= render 'layouts/footer' %>
		</div>
		
		
		<script type="text/javascript">
			$('#close-button').click(function() {
				$.get('/?second=1');
				$('.welcome').hide();				
			});
		</script>
		
		<script type="text/javascript">
			$(document).ready(function() {
				// little fix for current page in paging
				var selected_number = $(".pagination .current").html().trim();
				$(".pagination .current").html(selected_number);
			});			
		</script>						

		
		
		<!-- Reformal script -->
		<script type="text/javascript">
			var reformalOptions = {
				project_id: 53507,
				project_host: "go-to-sauna.reformal.ru",
				force_new_window: false,
				tab_alignment: "left",
				tab_top: "300",
				tab_bg_color: "#0080f0",
				tab_image_url: "http://tab.reformal.ru/0JLQsNGI0Lgg0L7RgtC30YvQstGLINC4INC%252F0YDQtdC00LvQvtC20LXQvdC40Y8=/FFFFFF/c931f419d308ca654c15aa9f4d2fa692"
			};
			
			(function() {
				if ('https:' == document.location.protocol) return;
				var script = document.createElement('script');
				script.type = 'text/javascript';
				script.src = 'http://media.reformal.ru/widgets/v1/reformal.js';
				document.getElementsByTagName('head')[0].appendChild(script);
			})();
		</script>	
		<!-- /Reformal script -->
		

		<!-- Yandex.Metrika counter -->
		<script type="text/javascript">
		(function (d, w, c) {
			(w[c] = w[c] || []).push(function() {
				try {
					w.yaCounter12085759 = new Ya.Metrika({id:12085759, enableAll: true, webvisor:true});
				} catch(e) {}
			});
			
			var n = d.getElementsByTagName("script")[0],
				s = d.createElement("script"),
				f = function () { n.parentNode.insertBefore(s, n); };
			s.type = "text/javascript";
			s.async = true;
			s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

			if (w.opera == "[object Opera]") {
				d.addEventListener("DOMContentLoaded", f);
			} else { f(); }
		})(document, window, "yandex_metrika_callbacks");
		</script>
		<noscript><div><img src="//mc.yandex.ru/watch/12085759" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
		<!-- /Yandex.Metrika counter -->	
	</body>
</html>