<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8">
		<meta name="Document-state" content="Static" />
		<meta name="URL" content="absolute_url" />
		<meta name="description" content="Сауны Ижевска, турецкие хамамы, русские бани на дровах, поиск по цене, по адресу, по типу, по вместимости -  
		для больших и маленьких компаний - все сауны в Ижевске в одном месте" />
		<meta name="keywords" content="сауна, бани, сауны Ижевска, сауна в Ижевске, бани сауны, бани Ижевска, сауна на двоих, турецкие бани, русская баня, баня на дровах, инфракрасная сауна, сауны Сарапула, сауны в Сарапуле, сауны Воткинска, сауны в Воткинске, сауны Глазова, сауны в Глазове, сауны в Можге, сауны Можги" />		
		<meta name="Distribution" content="global" />
		<meta name="Resource-type" content="document" />
		<meta name="robots" content="all" />
		<meta name="revisit-after" content="1 days" />
		<meta name="google-site-verification" content="q7mDR-c-V4nPNwEk4X5Vf1XqV9B3epiajBa8L7gZ6ZM" />
		<meta name='yandex-verification' content='6ca27b58987c713c' />

		<title>Сауны Ижевска, русские, японские и турецкие бани — цены в Ижевске</title>
		
		<%= csrf_meta_tag %>	
		<%= render 'layouts/javascripts' %>			
		<%= render 'layouts/stylesheets' %>						
	</head>
	<body>
		<div class="wrapper">
			<div class="content">
				<div class="content-left">							
					<!-- VK Widget -->
					
					<div id="vk_groups"></div>
					<script type="text/javascript">
						VK.Widgets.Group("vk_groups", {mode: 0, width: "200", height: "300"}, 34545540);
					</script>		
					
					<!-- /VK Widget -->								
					
					<a class="banner" href="http://можем-всё.рф" target="_blank"><%= image_tag("banner-mogem.jpg") %></a><br/>

					<table>
					<tr>
					<td>
						<!-- webmoney attestation label#F57E7E9C-FB5A-4CCD-A52F-8653DAB57BD3 begin --> 
						<a href="https://passport.webmoney.ru/asp/certview.asp?wmid=338868942902" target=_blank>
						<img border="0" src="http://passport.webmoney.ru/images/atstimg/88x31_user/88x31_wm_v_blue_on_white_ru.png"/>
						</a>
						<!-- webmoney attestation label#F57E7E9C-FB5A-4CCD-A52F-8653DAB57BD3 end --> 						
					</td>
					<td>
						<!-- begin WebMoney Transfer : accept label -->
						<a href="http://www.megastock.ru/" target="_blank"><img src="/assets/acc_blue_on_white_ru.png" alt="www.megastock.ru" border="0"></a>
						<!-- end WebMoney Transfer : accept label -->					
					</td>
					</tr>
					</table>

					
				</div>
				<div class="content-right">												
					<% if !second_time? %>
						<%= render 'layouts/welcome' %>					
					<% end %>	
					
					<% flash.each do |key, value| %>
						<div class="flash <%= key %>"><%= t(value) %></div>
					<% end %>
					<%= yield %>
				</div>
				<div class="clearing"></div>
			</div>
			<%= render 'layouts/footer' %>
		</div>
				
		<script type="text/javascript">
			$('#close-button').click(function() {
				$.get('/?second=1');
				$('.welcome').hide();				
			});
		</script>
		
		<script type="text/javascript">
			$(document).ready(function() {
				// little fix for current page in paging
				var selected_number = $(".pagination .current").html().trim();
				$(".pagination .current").html(selected_number);
			});			
		</script>		
		
		<!-- Reformal script -->
		<script type="text/javascript">
			var reformalOptions = {
				project_id: 53507,
				project_host: "go-to-sauna.reformal.ru",
				force_new_window: false,
				tab_alignment: "left",
				tab_top: "300",
				tab_bg_color: "#0080f0",
				tab_image_url: "http://tab.reformal.ru/0JLQsNGI0Lgg0L7RgtC30YvQstGLINC4INC%252F0YDQtdC00LvQvtC20LXQvdC40Y8=/FFFFFF/c931f419d308ca654c15aa9f4d2fa692"
			};
			
			(function() {
				if ('https:' == document.location.protocol) return;
				var script = document.createElement('script');
				script.type = 'text/javascript';
				script.src = 'http://media.reformal.ru/widgets/v1/reformal.js';
				document.getElementsByTagName('head')[0].appendChild(script);
			})();
		</script>	
		<!-- /Reformal script -->
		
		<!-- Yandex.Metrika counter -->
		<div style="display:none;"><script type="text/javascript">
		(function(w, c) {
			(w[c] = w[c] || []).push(function() {
				try {
					w.yaCounter12085759 = new Ya.Metrika({id:12085759, enableAll: true, webvisor:true});
				}
				catch(e) { }
			});
		})(window, "yandex_metrika_callbacks");
		</script></div>
		<script src="//mc.yandex.ru/metrika/watch.js" type="text/javascript" defer="defer"></script>
		<noscript><div><img src="//mc.yandex.ru/watch/12085759" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
		<!-- /Yandex.Metrika counter -->		
	</body>
</html>