<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8">
		<meta name="Document-state" content="Static" />
		<meta name="URL" content="absolute_url" />
		<meta name="description" content="Сауны Ижевска, турецкие хамамы, русские бани на дровах, поиск по цене, по адресу, по типу, по вместимости -  
		для больших и маленьких компаний - все сауны в Ижевске в одном месте" />
		<meta name="keywords" content="сауна, бани, сауны Ижевска, сауна в Ижевске, бани сауны, бани Ижевска, сауна на двоих, турецкие бани, русская баня, баня на дровах, инфракрасная сауна, сауны Сарапула, сауны в Сарапуле, сауны Воткинска, сауны в Воткинске, сауны Глазова, сауны в Глазове, сауны в Можге, сауны Можги" />		
		<meta name="Distribution" content="global" />
		<meta name="Resource-type" content="document" />
		<title>Сауны Ижевска, русские, японские и турецкие бани — цены в Ижевске</title>
		
		<%= csrf_meta_tag %>	
		<%= render 'layouts/javascripts' %>			
		<%= render 'layouts/stylesheets' %>						
	</head>
	<body>
		<%= yield %>
		<%= render 'layouts/footer' %>				
	</body>
</html>